/* src/app/DoctorDashboard/doc-analytics/doc-analytics.css */
.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* لمنع أي تداخل في الخطوط العربية داخل الكروت */
h2, h3, h4, span, p {
  font-family: 'Cairo', 'Segoe UI', sans-serif;
}

/* تخصيص السكرول بار لقائمة المراجعات داخل الديف */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ECE7F0;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #53098D;
}