<app-hero></app-hero>
<app-search-section></app-search-section>

<div id="about-section">
  <app-landing-page-sec3></app-landing-page-sec3>
</div>
<app-landing-page-sec4></app-landing-page-sec4>
 <div  id="forDoctors">
   <app-for-doctors></app-for-doctors>
 </div>
 <div class="sec5">
  <app-landing-page-sec5></app-landing-page-sec5>
 </div>
 <div class="sec6">
  <app-landing-page-sec6></app-landing-page-sec6>
 </div>
  <div id="testMonials">
    <app-testimonials></app-testimonials>

  </div>


<app-faq-section></app-faq-section>

<div id="contact-section">
  <app-cta-banner></app-cta-banner>
</div>